body{
	color: #222;
	fort-family:sans-serif;
}


div{
	position:relative;
	background-color: #000;
	padding: 20px;
}

h2, h1{
	font-family:sans-serif;
	color: #fff;
	background-color:#889d9d;
	width:200px;
	left:400px;
}

p{
	color:#ccc;
}
body > div > p{
	background-color: green;
}
    