
h1{
    position: relative;
    background-color: red;
    color: white;
    padding: 15px;
    top: 200px;
    left: 15em;
}
p{
    position: relative;
    background-color: blueviolet;
    color: white;
    padding: 15px;
    margin: 0;
    left:50px;
    
    

}