/* a:active{
    color: lime;
}
a:link{
    color:blue;
}
a:visited{
    color: purple;
}
a:hover{
    background: yellow;
}
button:hover{
    background: red;
}
input:default {
    box-shadow: 0 0 2px 1px coral;
}

input:default+label {
    color: coral;
} */

span[data-descr] {
    position: relative;
    text-decoration: underline;
    color: #00f;
    cursor: help;
  }
  
  span[data-descr]:hover::after,
  span[data-descr]:focus::after {
    content: attr(data-descr);
    position: absolute;
    left: 0;
    top: 24px;
    min-width: 200px;
    border: 1px #aaaaaa solid;
    border-radius: 10px;
    background-color: #ffffcc;
    padding: 12px;
    color: #000000;
    font-size: 14px;
    z-index: 1;
  }