ul{
    display: flex;
    justify-content: space-around;
}
.menu_mobile{
    visibility:hidden;
}
.menu{
    visibility: visible;
}
@media (max-width:800px) {
    .menu_mobile{
        visibility: visible;
    }
    .menu{
        visibility: hidden;
    }
}